.friends {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
    &::-webkit-scrollbar {
        overflow: hidden;
    }
    .hover-friend.active {
        background-color: $activeUser;
    }
    .hover-friend {
        cursor: pointer;
        &:hover {
            background-color: $activeUser;
        }
        .friend {
            display: flex;
            width: 100%;
            padding: 5px 10px;
            .friend-image {
                .image {
                    width: 45px;
                height: 45px;
                overflow: hidden;
                border-radius: 50%;
                margin-right: 8px;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            .friend-name-seen {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .friend-name {
                    width: 100%;
                    display: flex;
                    align-items: flex-start;
                    justify-content: center;
                    flex-direction: column;
                    h4 {
                        color: white;
                        font-weight: 600;
                        padding-left: 7px;
                    }
                    .msg-time {
                        width: 100%;
                        display: flex;
                        // justify-content: space-between;
                        span {
                            font-size: 10px;
                            padding: 4px 0px 0px 7px;
                        }
                    }
                }
            }
            .seen-unseen-icon {
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                }
                .seen-icon {
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    background-color: $green;
                    margin: 0px 10px;
                }
            }
        }
    }
}