{
    "parserOptions": {
        "ecmaVersion": 2017,
        "requireConfigFile": false,
        "babelOptions": {
            "presets": ["@babel/preset-react"]
        }
    },
    "env": {
        "es6": true,
        "browser": true,
        "node": true,
        "jquery": true,
        "jest": true
    },
    "rules": {
        "semi":["error", "never"],
        "quotes": ["error", "double", { "avoidEscape": true }],
        "comma-spacing": ["error", { "before": false, "after": true }],
        // "space-in-brackets": ["error", "always", {
        //     "singleValue": false,
        //     "objectsInArrays": false,
        //     "arraysInArrays": false,
        //     "arraysInObjects": false,
        //     "objectsInObjects": false,
        //     "propertyName": false
        //   }]
    },
    "plugins": ["html", "prettier", "react-hooks"]  
}