.message-show {
    height: 100%;
    padding: 10px;
    overflow-y: auto;
    &::-webkit-scrollbar {
        display: none;
    }
    .my-message {
        width: 100%;
        float: right;
        margin: 5px;
        .my-text {
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            flex-direction: column;
            width: 400px;
            .message-text {
                text-align: end;
                padding: 10px;
                border-radius: 10px;
                img {
                    width: 220px;
                    height: 100%;
                    margin-right: 0px;
                    border-radius: 5px;
                    overflow: hidden;
                    object-fit: cover;
                }
                .time {
                    text-align: end;
                    padding: 5px 0px;
                    color: $gray;
                }
            }
        }
    }
    .fd-message {
        width: 100%;
        float: left;
        margin: 5px;
        .fd-text {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;
            width: 400px;
            .message-text {
                text-align: start;
                border-radius: 10px;
                img {
                    width: 220px;
                    height: 100%;
                    margin: 0px;
                    border-radius: 5px;
                    overflow: hidden;
                    object-fit: cover;
                }
                .time {
                    text-align: end;
                    padding: 5px 0px;
                    color: $gray;
                }
            }
        }
    }
}
.image-message-time, .image-message {
    display: flex;
    img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 10px;
    }
    .message-text {
        padding: 8px;
        color: white;
        background-color: $lines;
    }
    .time {
        padding: 5px 0px;
        color: $gray;
    }
}
.typing-message {
    
}

.image-message  {
    justify-content: flex-end;
}