$gray: #9b9b9b;
$lines: #28324ed9;
$input: #15162559;
$background: #141b2bf0;
$green: #6BCB77;
$activeUser: #143F6B;
@import "./scss/base/reset";
@import "./scss/utils/utils";
@import "./scss/layout/grid";
@import "./scss/layout/media";
@import "../src/components/Auth/register";
@import "../src/components/Messenger/messenger";
@import "../src/components/Messenger/Friends/friends";
@import "../src/components/Messenger/ActiveFriend/activeFriend";
@import "../src/components/Messenger/RightSide/rightSide";
@import "../src/components/Messenger/RightSide/Message/message";
@import "../src/components/Messenger/RightSide/MessageSend/messageSend";
@import "../src/components/Messenger/RightSide/FriendInfo/friendInfo";
